@import 'foundation/all';

@import 'base/reset';
@import 'base/root';

body {
  font-family: 'Inter', sans-serif !important;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  box-sizing: border-box;
  background-color: $white;
}
